{% extends 'core/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block css %}{% endblock css %}
{% block content %}


  <main id="main">
     <!-- ======= Breadcrumbs ======= -->
     <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section>
      <div class="container" data-aos="fade-up">
        <!-- <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title text-uppercase">Nepal Research and Collaboration Center - NRCC</h1>
          </div>
        </div> -->

        <div class="row mb-5">
          <h2 class="mb-4 display-4">Who are we?</h2>
          <div class="d-md-flex post-entry-2 half">
            
            <a href="#" class="me-4 thumbnail">
              <img src="{% static 'core/img/post-landscape-2.jpg' %}" alt="" class="img-fluid">
            </a>
            <div class="ps-md-5 mt-4 mt-md-0">
              
              <p>Nepal Research and Collaboration Center (NRCC) is a non-profit organization founded in 2019 to foster a true learning culture in Nepalese society. We believe a true learing is facilitated by research-based and practical approach that provide students with the real world skills starting from an early age. We embrace the dynamic nature of  learning process and are constantly challenging the status quo with our range of initiatives aimed at creating a space for the exchange of objectives among stakeholders in the Nepalese educational sector.</p>
              <p>We also provide research opportunities, engage in advocacy and awareness-raising activities to promote research-based learning in Nepal and actively try to comprehend the problems faced by Nepalese students reaching out to them with the most efficient and practical solutions. Based in Kathmandu, we also reach out to the remotest areas of Nepal with our projects and programs. Our existence is for progressive institutionalized transformations at scale through collaboration of both institutions and individuals.</p>
            </div>
          </div>
          
          <h2 class="mb-4 display-4">Our Mission &amp; Vision</h2>
          <div class="d-md-flex post-entry-2 half mt-5">
            <a href="#" class="me-4 thumbnail order-2">
              <img src="{% static 'core/img/post-landscape-1.jpg' %}" alt="" class="img-fluid">
            </a>
            <div class="pe-md-5 mt-4 mt-md-0">
              <!-- <h2 class="mb-4 display-4">Our Mission &amp; Vision</h2> -->
              <p>NRCC is on mission to  provide students  access to the opportunities, resources and support they need to establish a norm of true learning facilitated by research-based learning from an early age. Establishing a stable and trustworthy platform for the effective collaboration between the researchers from different disciplines, advocacy for the developments in the field of education, research and innovation is our top priority.</p>
              <p>Nepal Research and Collaboration Center (NRCC) envisions a future where research-based learning is the norm in Nepalese society. Students have access to the opportunities, resources, and support they need to succeed, irrespective of their origins, ethnicity, gender, or socio-cultural status or even their field of study, enabling them to reach their optimum potential. Through our programs, we seek to empower every generations of Nepalese society with knowledge and skills that will enable them to succeed in an ever-changing world.</p>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mb-5 bg-light py-5">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-between align-items-lg-center">
          <div class="col-lg-5 mb-4 mb-lg-0">
            <h2 class="display-4 mb-4">Chairman's Message</h2>
            <p>Welcome to the Nepal Research and Collaboration Center (NRCC)! Our center is dedicated to creating a future where research-based learning becomes the norm in Nepalese society. We believe that every student should have equal access to opportunities, resources, and support, regardless of their background or field of study.</p>
            <p>At NRCC, our mission is to empower the future generations of Nepal by providing them with the knowledge and skills necessary to succeed in an ever-changing world. Through our programs, we aim to establish a platform for true learning facilitated by research-based approaches from an early age.</p>
            <p>We are committed to fostering effective collaboration between researchers from different disciplines, advocating for advancements in education, research, and innovation. By creating a stable and trustworthy platform, we aim to enable fruitful partnerships and meaningful collaborations among researchers, institutions, and organizations.</p>
            <p>At NRCC, we are dedicated to continuous improvement and growth. We seek to enhance the evaluation system, administer examinations with excellence, and monitor academic programs, internships, and other relevant activities. Our commitment extends to fostering strong relationships with our team members and ensuring the smooth functioning of staff and training activities.</p>
            <p>Join us in our journey towards empowering the future generation of researchers and making a lasting impact on the research landscape in Nepal.</p>
            <p>Best regards,</p>
            <p style="margin-bottom: 0.1em;">Bibek Lal Karn</p>
            <p>Chairman</p>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-8 mt-4">
                <img src="{% static 'core/img/post-portrait-4.jpg' %}" alt="" class="img-fluid mb-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <h2 class="display-4">Our Team</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sint sed, fugit distinctio ad eius itaque deserunt doloribus harum excepturi laudantium sit officiis et eaque blanditiis. Dolore natus excepturi recusandae.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="{% static 'core/img/person-1.jpg' %}" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Cameron Williamson</h4>
            <span class="d-block mb-3 text-uppercase">Founder &amp; CEO</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="{% static 'core/img/person-2.jpg' %}" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Wade Warren</h4>
            <span class="d-block mb-3 text-uppercase">Founder, VP</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="{% static 'core/img/person-3.jpg' %}" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Jane Cooper</h4>
            <span class="d-block mb-3 text-uppercase">Editor Staff</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="{% static 'core/img/person-4.jpg' %}" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Cameron Williamson</h4>
            <span class="d-block mb-3 text-uppercase">Editor Staff</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="{% static 'core/img/person-5.jpg' %}" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Cameron Williamson</h4>
            <span class="d-block mb-3 text-uppercase">Editor Staff</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="{% static 'core/img/person-6.jpg' %}" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Cameron Williamson</h4>
            <span class="d-block mb-3 text-uppercase">Editor Staff</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, perspiciatis repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>
        </div>
      </div>
    </section>

      <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container">

      <div class="section-title">
        <h2>Team</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="member">
            <img src="{% static 'core/img/team/team-1.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
          <div class="member">
            <img src="{% static 'core/img/team/team-2.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
          <div class="member">
            <img src="{% static 'core/img/team/team-3.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
          <div class="member">
            <img src="{% static 'core/img/team/team-4.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  </main><!-- End #main -->


{% endblock content %}

{% block js %}{% endblock js %}