{% extends 'core/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}
{% block css %}{% endblock css %}
{% block content %}


<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      
      <div class="d-flex justify-content-between align-items-center">
        <h2>Contact</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Contact</li>
        </ol>
      </div>
      
    </div>
  </section><!-- End Breadcrumbs -->
  
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      
      <div class="section-title">
        <!-- <h2>Get in Touch</h2> -->
        <!-- <p class="lead fw-normal text-muted mb-0">Let's work together!</p> -->
        
        
      </div>
      
      <div class="row contact-info">
        
        <div class="col-md-4">
          <div class="contact-address">
            <i class="bi bi-geo-alt"></i>
            <h3>Address</h3>
            <address><a href="https://goo.gl/maps/zxNNXFVsWK8pqPgHA">House No.164, Bhakti Thapa Sadak, New Baneshwor, KTM </a></address>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="contact-phone">
            <i class="bi bi-phone"></i>
            <h3>Phone Number</h3>
            <p><a href="tel:+977 - 9802348778">+977 - 9802348778</a></p>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="contact-email">
            <i class="bi bi-envelope"></i>
            <h3>Email</h3>
            <p><a href="mailto:nepalresearchcenter@gmail.com">info@nrccnepal.org</a></p>
          </div>
        </div>
        
      </div>
      
      
      
      
    </div>
    
    
    <div class="container px-5">
      
      <!-- Contact form-->
      <div class="bg-light rounded-4 py-5 px-4 px-md-5" id="contact-form">
        <div class="text-center mb-5">
          
          <!-- <h1 class="fw-bolder">Fill up the Form</h1> -->
          <p class="lead fw-normal text-primary text-uppercase mb-0">Contact Form </p>
        </div>
        
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-8 col-xl-6">
            
            <form action="#contact-form" method="post" id="contactForm" data-sb-form-api-token="API_TOKEN">
              {% csrf_token %}
              <!-- Name input-->
              <input type="hidden" name="form_type" value="contact_form">
              <div class="form-floating mb-3">
                <!--  <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                data-sb-validations="required" />
                -->
                {{ contact_form.name }}
                <label for="name">Full name</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
              </div>
              <!-- Email address input-->
              <div class="form-floating mb-3">
                <!-- <input class="form-control" id="email" type="email" placeholder="name@example.com"
                data-sb-validations="required,email" /> -->
                {{ contact_form.email }}
                <label for="email">Email address</label>
                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
              </div>
              <!-- Address input-->
              <div class="form-floating mb-3">
                {{ contact_form.address }}
                <label for="email">Address</label>
                <div class="invalid-feedback" data-sb-feedback="address:required">Address is required.</div>
              </div>
              <!-- Phone number input-->
              <div class="form-floating mb-3">
                <!-- <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890"
                data-sb-validations="required" /> -->
                {{ contact_form.phone }}
                <label for="phone">Phone number</label>
                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
              </div>
              <!-- Message input-->
              <div class="form-floating mb-3">
                <!-- <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..."
                style="height: 10rem" data-sb-validations="required"></textarea> -->
                {{ contact_form.content }}
                <label for="message">Message</label>
                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
              </div>
              <!-- Submit success message-->
              <!---->
              <!-- This is what your users will see when the form-->
              <!-- has successfully submitted-->
              
              <!-- Submit success message -->
              {% if form_type == 'contact_form' %}
              {% if messages %}
              <div class="text-center mb-3">
                <!-- <div class="fw-bolder">Form submission successful!</div> -->
                {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
              </div>
              {% endif %}
              
              <!-- Submit error message -->
              {% if form.errors %}
              <div class="text-center text-danger mb-3">
                <div class="fw-bolder">Error sending message!</div>
                {% for field in form %}
                {% if field.errors %}
                <div class="alert alert-danger">{{ field.errors|join:", " }}</div>
                {% endif %}
                {% endfor %}
              </div>
              {% endif %}
              {% endif %}
              
              <!-- Submit Button-->
              <div class="d-grid"><button class="btn btn-primary" id="submitButton"
                type="submit">Submit</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
  
  
  {% endblock content %}
  
  {% block js %}{% endblock js %}
