{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Programs{% endblock title %}
{% block css %}{% endblock css %}
{% block content %}


<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      
      <div class="d-flex justify-content-between align-items-center">
        <h2>Programs</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Programs</li>
        </ol>
      </div>
      
    </div>
  </section><!-- End Breadcrumbs -->
  
  <!-- ======= Blog Details Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-5">
        <!-- ======= Program Title Section ======= -->
        <section class="program-title-single">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-lg-12" style="padding-top:20px;">
                <div class="title-single-box">
                  <h1 class="title-single">{{ program.title}}</h1>
                  <!-- Meta top -->
                  <div class="meta-top">
                    <ul>
                      <!-- <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li> -->
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time datetime="2020-01-01">{{ program.time_duration }}</time></a></li>
                      <!-- <li class="d-flex align-items-center"><i class="bi bi-book"></i>{{ program.readtime }}</li> -->
                    </ul>
                  </div>
                  <!-- End meta top -->
                  
                  <span class="color-text-a">{{ program.short_description }}</span>
                </div>
              </div>
              <!-- <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#">Home</a></li>
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Programs
                  </li>
                </ol>
              </nav>
            </div> -->
          </div>
        </section>
        <!-- <section class="program-featuredimg-single">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="featuredimg-box">
                  <img src="{{ program.program_featured_img.url }}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </section> -->
        <!-- End Program Title Section -->
        <div class="col-lg-8">
          
          <article class="blog-details">
            
            <div class="post-img">
              <img src="" alt="" class="img-fluid">
            </div>
            
            <!-- <h2 class="title">{{ program.title }}</h2> -->
            <div class="content">
              {% for topic in program_topics %}
              <h3>{{ topic.topic }}</h3>

              <!-- First paragraph -->
              {% if topic.topic_detail_first_paragraph %}
              <p>
                {{ topic.topic_detail_first_paragraph }}
              </p>
              {% endif %}
              {% if topic.topic_detail_first_bullet_points %}
              <blockquote>
                <!-- <p> -->
                  <ul>
                    {% for bullet_point in topic.topic_detail_first_bullet_points|split_by_hash %}
                    {% if bullet_point %}
                    <li><i class="bi bi-check2-circle"></i> {{ bullet_point }}</li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                <!-- </p> -->
              </blockquote>
              {% endif %}
              {% if topic.topic_detail_first_bullet_points %}

              {% endif %}

              {% if topic.topic_detail_first_highlighting_text %}
              {% endif %}

              {% if topic.topic_detail_first_img %}
              {% endif %}

              {% if topic.topic_detail_first_img_caption %}
              {% endif %}

              {% if topic.topic_detail_first_video_embed_source %}
              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="{{ topic.topic_detail_first_video_embed_source }}" class="glightbox stretched-link" target="_blank">Watch Here</a>
              </div>
              <div style="position: relative; overflow: hidden; padding-bottom: 56.25%; height: 0;">
                <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="{{ topic.topic_detail_first_video_embed_source }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>             
              </div>
              {% endif %}

              <!-- Second Paragraph -->
              {% if topic.topic_detail_second_paragraph %}
              <p>
                {{ topic.topic_detail_second_paragraph }}
              </p>
              {% endif %}
              
              {% if topic.topic_detail_second_bullet_points %}
              
              {% endif %}

              {% if topic.topic_detail_second_highlighting_text %}
              {% endif %}

              {% if topic.topic_detail_second_img %}
              {% endif %}

              {% if topic.topic_detail_second_img_caption %}
              {% endif %}

              {% if topic.topic_detail_second_video_embed_source %}
              {% endif %}

              <!-- Third Paragraph -->
              {% if topic.topic_detail_third_paragraph %}
              <p>
                {{ topic.topic_detail_third_paragraph }}
              </p>
              {% endif %}
              
              {% if topic.topic_detail_third_bullet_points %}
              {% endif %}

              {% if topic.topic_detail_third_highlighting_text %}
              {% endif %}

              {% if topic.topic_detail_third_img %}
              {% endif %}

              {% if topic.topic_detail_third_img_caption %}
              {% endif %}

              {% if topic.topic_detail_third_video_embed_source %}
              {% endif %}

              <!-- <p>
                {{ program.body_intro }}
              </p> -->
              <!-- <blockquote>
                <p>
                  Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
                </p>
              </blockquote> -->
              <!-- <img src="{%static 'core/img/spaceapps/spaceapps_img1.jpg'%}" class="img-fluid" alt=""> -->
              {% endfor %}
            </div><!-- End post content -->
            
            {% if program.program_tags %}
            <div class="meta-bottom">
              <!-- <i class="bi bi-folder"></i> -->
              <!-- <ul class="cats">
                <li><a href="#">Business</a></li>
              </ul> -->
              
              <i class="bi bi-tags"> </i>
              <ul class="tags">
                <li><a>{{ program.program_tags }}</a></li>
              </ul>
            </div>
            {% endif %}
            <!-- End meta bottom  -->
          </article>
          <!-- End blog post -->
          
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="sidebar-item recent-posts">
              <div class="row">
                <h3 class="sidebar-title">Our Recent Programs</h3>
                
                <div class="mt-3">
                  {% for program in recent_programs %}
                  <div class="post-item mt-3">
                    <img src="{{ program.featured_image.url }}" alt="">
                    <div>
                      <h4><a href="{{ program.learn_more_link }}">{{ program.name }}
                      </a></h4>
                      {% if program.commence_date <= now and program.end_date >= now %}
                        <time>Happening Now!</time>
                      {% else %}
                        <time>{{ program.commence_date|date:"d M, Y" }}</time>
                      {% endif %}
                      </div>
                  </div><!-- End recent post item-->  
                  {% endfor %}                
                </div>
                
              </div>
              
              <!-- End sidebar recent posts-->
            </div>
          </div>
          
          <div class="sidebar">
            <div class="sidebar-item recent-posts">
              <div class="row">
                <h3 class="sidebar-title" style="border: 1px solid;"></h3>
                
                <div class="mt-3">
                  <div class="info-item d-flex flex-column justify-content-center align-items-center">
                    <i class="bi bi-command"></i>
                    <p>Want to become a part of this Program?<p>
                      {% if program.google_form_link %}
                      <a data-aos="fade-up" data-aos-delay="200" href="{{ program.google_form_link }}" class="btn-get-started aos-init aos-animate">Register Here</a> 
                      {% else %}
                      <a data-aos="fade-up" data-aos-delay="200" href="{% url 'contact' %}" class="btn-get-started aos-init aos-animate">Contact Us</a> 
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
    </section><!-- End Blog Details Section -->
    
    
    
  </main><!-- End #main -->
  
  
  {% endblock content %}
  
  {% block js %}{% endblock js %}