{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Research Training{% endblock title %}
{% block css %}
{% endblock css %}

{% block content %}

<!-- ======= Program Info Section ======= -->
<section id="program-info" class="program-info d-flex align-items-center" style="background: url({% static 'core/img/research_training/research_training_bg_without_text.jpg' %}) no-repeat center center;">
  <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-8">
        <div id="program-title">
          <h1><span>Research Training 2024</span></h1>
        </div>                <div class="date-time-container">
          <h2><i class="far fa-calendar-alt"></i> Date: <span>June 29 - September 15, 2024</span></h2>
          <h2><i class="bi bi-calendar-event"></i>Every Saturday and Sunday</h2>
          <h2><i class="far fa-clock"></i>6:30 PM - 08:00 PM</h2>
          
        </div>
        <!-- <div id="program-description">
          <p>Join us for an extensive research training program led by experts from various fields. Enhance your skills and knowledge with hands-on training and insightful lectures.</p>
        </div> -->
        <div id="apply-now-button">
          <a href="https://www.google.com/forms/about/" class="btn btn-outline-primary">Apply Now  -> </a>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Program Info Section -->


<!-- Info video Section Starts -->
<section id="info-video" class="info-video">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Section: Title and Descriptions -->
      <div class="col-lg-6">
        <div class="info-content">
          <h2 class="rt-title">Program Overview</h2>
          <p>Research Training is a 3 months virtual program conducted by Nepal Research and Collaboration Center. The program aims to upskill research enthusiasts with necessary technical and non-technical knowledge necessary to conduct their research. Each session is facilitated by experienced trainers and supported by proficient mentors. The platform also gives an opportunity to build a strong network with researchers from diverse backgrounds.</p>
          <p>This program offers:</p>
          <ul>
            <li><i class="bi bi-check-double-line"></i> Expert-led sessions</li>
            <li><i class="bi bi-check-double-line"></i> Interactive workshops</li>
            <li><i class="bi bi-check-double-line"></i> Collaborative projects</li>
            <li><i class="bi bi-check-double-line"></i> Networking opportunities</li>
          </ul>
        </div>
      </div>
      <!-- Right Section: Video Embed -->
      <div class="col-lg-6">
        <div class="video-container">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/sl18__huoXI" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Info video Section Ends -->

<!-- ======= Objective Section Starts======= -->
<!-- <section id="objectives" class="objectives">
  <div class="container">
    
    <div class="row no-gutters">
      <div class="content d-flex flex-column">
        <h3 class="rt-title">Our Objectives</h3>
        <div class="row justify-content-between">
          <div class="col-md-3 icon-box">
            <i class="bx bx-receipt"></i>
            <p>Establish a unified platform for research enthusiasts from diverse disciplines to cultivate a research-centric environment.</p>
          </div>
          <div class="col-md-3 icon-box">
            <i class="bx bx-cube-alt"></i>
            <p>Boost research capabilities with enlightening sessions led by experienced researchers.</p>
          </div>
          <div class="col-md-3 icon-box">
            <i class="bx bx-shield"></i>
            <p> Facilitate participant networking opportunities and encourage collaborative research projects.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
</section> -->

<!-- ======= Objective Section Ends======= -->

<section id="syllabus" class="syllabus" style="padding-top:0px;">
  <div class="container">
    
    <div class="row no-gutters">
      <div class="content d-flex flex-column justify-content-center">
        <h3 class="rt-title">Syllabus</h3>
        <div class="row justify-content-between" style="margin: 10px">
          <div class="card" style="width: 20rem;">
            <div class="card-header">
              Month 1
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h4 class="week">Week 1</h4>
                <p>Day 1: Orientation and Introduction to RT </p>
                <p>Day 2: Introduction to Research </p>
              </li>
              <li class="list-group-item">
                <h4 class="week">Week 2</h4>
                <p>Day 3: Review Paper Session </p>
                <p>Day 4: LaTeX Workshop 1 </p>
              </li>
              <li class="list-group-item">
                <h4 class="week">Week 3</h4>
                <p>Day 5: Python Workshop 1 </p>
                <p>Day 6: Python Workshop 2 </p>
              </li>
              <li class="list-group-item">
                <h4 class="week">Week 4</h4>
                <p>Day 7: LaTeX Workshop 2 </p>
                <p>Day 8: Proposal Writing Session </p>
              </li>
            </ul>
          </div>
          <div class="card" style="width: 20rem;">
            <div class="card-header">
              Month 2
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h4 class="week">Week 5</h4>
                <p>Day 9: Python Workshop 3</p>
                <p>Day 10: Python Workshop 4</p>
              </li>
              <li class="list-group-item">
                <h4 class="week">Week 6</h4>
                <p>Day 11: Review Paper Session 2</p>
                <p>Day 12: LaTeX Workshop 3</p>
              </li>
              <li class="list-group-item">
                <h4 class="week">Week 7</h4>
                <p>Day 13: Python Workshop 5</p>
                <p>Day 14: Python Workshop 6</p>
              </li>
              <li class="list-group-item">
                <h4 class="week">Week 8</h4>
                <p>Day 15: Python Workshop 7</p>
                <p>Day 16: Python Workshop 8</p>
              </li>
            </ul>
          </div>
          <div class="card" style="width: 20rem;">
            <div class="card-header">
              Month 3
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h4 class="week">Week 9</h4>
                <p>Day 17: Statistics in Research </p>
                <p>Day 18: Paper Publishing Workshop</p>
              </li>
              <li class="list-group-item">
                <h4 class="week">Week 10</h4>
                <p>Day 19: Networking Session 1</p>
                <p>Day 20: Networking Session 2</p>
              </li>
              <li class="list-group-item">
                <h4 class="week">Week 11</h4>
                <p>Day 21: Review Paper Defence 1</p>
                <p>Day 22: Review Paper Defence 2</p>
              </li>
              <li class="list-group-item">
                <h4 class="week">Week 12</h4>
                <p>Day 21: Research Opportunities Session </p>
                <p>Day 22: Closing Session </p>
              </li>
            </ul>
          </div>
        </div>
      </div><!-- End .content-->
    </div>
  </div>
  
</div>
</section>

<section class="trainers">
  <h3 class="rt-title">Trainers</h3>
  
  <div class="container">
    <div class="row">

      {% for trainer in trainers %}
      <div class="col-xl-3 col-md-3">
        <div class="picture">
          <img src="{{ trainer.image.url }}" class="img-fluid" alt="">
          <div class="trainer-name">
            <h2>{{ trainer.name }}</h2> 
            <p>{{ trainer.affiliation }}</p>
          </div>
          <div class="trainer-link">
            <span>
              {% if trainer.social == 'LI' %}
              <a class="link" href="{{ trainer.social_link }}"><i class="bi bi-linkedin"></i></a>
              {% elif trainer.social == 'FB' %}
              <a class="link" href="{{ trainer.social_link }}"><i class="bi bi-facebook"></i></a>
              {% elif trainer.social == 'EM' %}
              <a class="link" href="{{ trainer.social_link }}"><i class="bi bi-envelope-fill"></i></a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    

    </div>
  </div> 

</section>

<section class="trainers">
  <h3 class="rt-title">Mentors</h3>
  
  <div class="container">
    <div class="row">

      {% for mentor in mentors %}
      <div class="col-xl-3 col-md-3">
        <div class="picture">
          <img src="{{ mentor.image.url }}" class="img-fluid" alt="">
          <div class="trainer-name">
            <h2>{{ mentor.name }}</h2> 
            <p>{{ mentor.affiliation }}</p>
          </div>
          <div class="trainer-link">
            <span>
              {% if mentor.social == 'LI' %}
              <a class="link" href="{{ mentor.social_link }}"><i class="bi bi-linkedin"></i></a>
              {% elif mentor.social == 'FB' %}
              <a class="link" href="{{ mentor.social_link }}"><i class="bi bi-facebook"></i></a>
              {% elif mentor.social == 'EM' %}
              <a class="link" href="{{ mentor.social_link }}"><i class="bi bi-envelope-fill"></i></a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    

    </div>
  </div> 

  
</section>



<section class="team">
  <h3 class="rt-title">Organizing Team</h3>
  <div  class="picture">
    {% for organizer in organizers %}
    <div class="col-xl-3 col-md-6">
      <div class="name-img">
        <img src="{{ organizer.image.url }}">
        <p>
          {{ organizer.name }}
        </p>
      </div>
    </div>
    {% endfor %}
  </section>
  
  {% if testimonials %}
  <section class="contain">
    <div class="testimonial mySwiper">
      <div class="testi-content swiper-wrapper" >
        {% for testimonial in testimonials %}
        <div class="slide swiper-slide">
          <div>
            <span>
              <img src="{{ testimonial.image.url }}" alt="" class="image">
            </span>
            <span><h2 style="align-items: center;">{{ testimonial.name }}</h2></span>
          </div>
          
          <p>{{ testimonial.content }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
  {% endif %}
  
  <!-- ======= Footer ======= -->
  <footer id="rt-footer">
    <div class="rt-footer-top">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-4 col-md-6">
            <img src="{% static 'core/img/research_training/research_training_logo.png' %}" alt="" class="img-fluid" style="height: 64px; width: auto; margin-bottom: 32px;">
            <div class="rt-footer-info">
              <div style="display: flex;">
                <div>
                  <!-- <img src="assets/img/Location on.png" alt="" class="img-fluid" style="max-height: 100px;"> -->
                </div>
                <div style="margin-left: 10px;">
                  <p style="color: #3a3a3a;">
                    Bhakti Thapa Sadak, New Baneshwor <br>
                    Kathmandu, Nepal<br><br>
                  </p>
                </div>
              </div>
              
              <div style="display: flex;">
                <div>
                  <!-- <img src="assets/img/Group.png" alt="" class="img-fluid" style="max-height: 100px;"> -->
                </div>
                <div style="margin-left: 10px;">
                  <p style="color: #3a3a3a;">
                    +977- 9802348778<br><br>
                  </p>
                </div>
              </div>
              
              <div style="display: flex;">
                <div>
                  <!-- <img src="assets/img/email.png" alt="" class="img-fluid" style="max-height: 100px;"> -->
                </div>
                <div style="margin-left: 10px;">
                  <p style="color: #3a3a3a;">
                    info@nrccnepal.org<br><br>
                  </p>
                </div>
              </div>
              
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/nrccNepal" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/nrccnepal/" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/company/nrccnepal/" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 rt-footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li> <a href="{% url 'home' %}">Home</a></li>
              <li> <a href="{% url 'programs' %}">Programs</a></li>
            </ul>
          <!-- </div> -->
          
          <!-- <div class="col-lg-3 col-md-6 footer-links"> -->
            <h4 style="margin-top: 32px;">Our Programs</h4>
            <ul>
              <li> <a href="{% url 'program_details' slug=slugs|get_item:'Research Talk' %}">Research Talk</a></li>
              <li> <a href="{% url 'program_details' slug=slugs|get_item:'Research Training' %}">Research Training</a></li>
              <li> <a href="{% url 'spaceapps' %}">NASA SpaceApps</a></li>
              <li> <a >ECON Talk</a></li>
              <li> <a href="{% url 'program_details' slug=slugs|get_item:'Panel Discussion' %}">Panel Discussion</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 rt-footer-newsletter" id="newsletter-form-rt">
            <h4>Our Newsletter</h4>
            <p style="color: #3a3a3a; font-size: 14px;">Stay up-to-date with the latest news and insights delivered straight to your inbox.</p>
            <form action="#newsletter-form-rt" method="post"> <!-- Use django crispy form later-->
              {% csrf_token %}
              {{ subscriber_form.email}}
              <input type="hidden" name="form_type" value="newsletter_form">
              <!-- <input type="email" name="email" placeholder="youremail@gmail.com">-->
               <input type="submit" value="Subscribe"> 
            </form>
            {% if form_type == 'newsletter_form' %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success">
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endif %}
            
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>NRCC</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by NRCC Team</a>
      </div>
    </div> -->
  </footer><!-- End Footer -->
  
  <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->
  
  <!-- Vendor JS Files -->
  <!-- <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script> -->
  <!-- <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <!-- <script src="assets/vendor/glightbox/js/glightbox.min.js"></script> -->
  <!-- <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script> -->
  <!-- <script src="assets/vendor/swiper/swiper-bundle.min.js"></script> -->
  <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->
  
  <!-- Template Main JS File -->
  <!-- <script src="assets/js/script.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
  
  <!-- Swipper JS -->
  <!-- <script src="assets/js/swiper-bundle.min.js"></script> -->
  
  {% endblock content %}
  {% block js %} {% endblock js %}